body {
  background-color: #456393;
    color:#FFD3FF;
    font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20% 
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid;
  border-bottom: 1px solid;
  background-color: rgba(0,0,0 0.1)
}

.footer {
  border-top: .5px dotted;
  border-bottom: .5px dotted;
}

.des {
  font-style: oblique;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
  border-radius: 25px;
  padding: 20px;
}

.top {
  text-align: center;
}
