html {
  scroll-behavior: smooth;
}

body {
  background-color: #000066;
    color:#ccccff;
    font-family: Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}

#header {
  width: 100%;
  height: 100vh; 
  background: #ccccff;
  background-image: url(image/headerimg.jpg);
  background-size: cover; 
  background-position: center;
  display: flex;
  justify-content: space-between;
}

.container {
  padding: 5px 5%;

}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #ccccff;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 15px;
  padding-right: 200px;
  padding-left: 60px;
}

.logo {
  width: 200px;
  margin-left: -20px;
  border-radius: 15px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 10px;
}

nav ul li a {
  color: #000066;
  text-decoration: none;
  font-size: 18px;
  position: relative
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #456393;
  position: absolute;
  left: 0px;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  margin-top: 5%;
  font-size: 50px;
  color: #D8FF3B;
  background-blend-mode: darken;
}

.header-text h1 {
  font-size: 70px;
  margin-top: 20px;
  color: #D8FF3B;
  background-blend-mode: darken;
}

/* ------------------about-------------- */

#about {
  padding: 80px 0;
  color: #ccccff;
  height: 100vh;
  background-size: cover;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 i {
  flex-basis: 35%;
  padding: 20px;

}

.about-col-1 img{
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
  color:#FFCC00;
}

.sub-title h1 {
  font-size: 35px;
  font-weight: 300;
  color:#ccccff;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
  font-size: 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 40px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links::after {
  content: '';
  width: 0;
  height: 3px;
  background: #456393;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 50%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 26px;
}

.tab-contents ul li span {
  color: #FFCC00;
  font-size: 26px;
}

.tab-contents {
  display: none;
  padding: 5px;
}

.tab-contents.active-tab {
  display: block;
}

/* ----------projects------------------------- */

#portfolio {
  padding: 20px 0;
  background-color: #ccccff;
  color: #FF00FF;
  font-size: 40px;
  font-weight: 600;
  height: 100vh;
  background-size: cover;
}

#portfolio p {
  color: #000066;
  font-size: 18px;
  padding: 10px;

}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  align-self: center;
  transition: transform 0.5s;
}

.work h3 {
  font-size: 20px;
  color: #000066;
}

.layer {
  width: 100%;
  height: 0;
  background-color: #ccccff;
  color: #00001f;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #FFD3FF;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #456393;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

/* -----------contact------------- */
#contact {
  height: 100vh;
  background-size: cover;
  padding: 30px 0;
  margin-top: 20px;
}

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  flex-basis: 35%;
}

.contact-left p i {
  color: #FFCC00;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color:#000066;
  background-color: #FFD3FF;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color:#00001f;
  transform: translateY(-5px);
}

.contact-right form {
  width: 100%;
}

form input, form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #FFD3FF;
  padding: 15px;
  margin: 15px 0;
  color: #00001f;
  font-size: 18px;
  border-radius: 16px;
}

form .btn2{
  padding: 14px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

#msg {
  color: #009900;
  margin: -20px;
  display: block;
}